.offer {
    padding: 1.0vw 10vw 10vw 19vw;
    margin-top: 0vw;
    text-align: left;
}


@media only screen and (max-width: 600px) {

    .offer--desc {
        margin-top: 10vw;
    }
    .offer {
        padding: 20vw 10vw 10vw 1vw;
    }

}
