

.portfolio {
    padding: 10vw 0vw;
    margin: 0 20vw;
}

.portfolio .title {  
    font-size: 1.1vw; 
    margin-bottom: 2vw;
    line-height: 1vw;
    width: 57vw;
    text-align: center;
    padding-left: 2vw;
    border-bottom: 0.6vw solid #6a3446;
    line-height: 2.5vw;
}


.project--tiles {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: -5vw;
    gap: 5vw 0vw;
}




@media only screen and (max-width: 600px) {

    .portfolio {
        margin: 0px;
        padding: 20vw 10vw;
    }

    .project--tiles {
        display: grid;
        grid-template-columns: auto;
    }

    .portfolio .title {
        width: 100%;
        line-height: 8vw;
        font-size: 4vw;
    }
}